  /************************HEADER**********************/
  header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    text-align: center;
  }
  .header__container {
    height: 100%;
    position: relative;
  }
 
  /************************CTA************************/
  .cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
  }
  /*-------------HEADER SOCIALS -----------*/
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: -9rem;
  padding: 0 3rem;
}

.header__socials::after{
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
  /************************PHOTO ME************************/
.me{
width: 20rem;
height: 20rem;
position: absolute;
left: calc(50% - 11rem);
border-radius: 100%;
overflow: hidden;
margin: 5rem 1.5rem 1.5rem 1.5rem;
}
  /************************SCROLL DOWN************************/
.scroll_down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

  /************MEDIA QUERIES (MEDIUM DEVICES)*****************/
@media screen and (max-width: 1024px) {
  header {
    padding: 2rem;
  }
  
}


  /************MEDIA QUERIES (SMALL DEVICES)*****************/
@media screen and (max-width: 600px) {
header {
    padding: 2rem;
  }
  
  .header__socials,
  .scroll_down {
    display: none;
  }
}